<h3 mat-dialog-title>Ustaw nowe hasło (admin)</h3>

<div class="dialog-content" mat-dialog-content>
  <div class="form-row">
    <label>Nowe hasło</label>
    <input
      type="password"
      [ngModel]="newPassword()"
      (ngModelChange)="newPassword.set($event)"
    />
  </div>

  <div *ngIf="error()" class="error">{{ error() }}</div>
</div>
<div class="actions" mat-dialog-actions>
  <button (click)="cancel()">Anuluj</button>
  <button (click)="set()" [disabled]="loading()">
    {{ loading() ? "Trwa..." : "Ustaw hasło" }}
  </button>
</div>
